body
    background-color:#eee

.editor
    display: flex
    

.editor-tools, 
.editor-display
    margin:2px;
    border: 2px solid gray

.editor-display
    background-color: white
    min-width:300px
    min-height: 300px

.tools-list
    display: flex
    flex-direction: column